plantillas/sistema-pagos-mp-n8n-capi-ghl/n8n-workflow-template.json
{
  "name": "Pumpalcerro — MP IPN → Meta CAPI + GHL",
  "nodes": [
    {
      "parameters": {
        "color": 7,
        "width": 540,
        "height": 240,
        "content": "## Pumpalcerro — MP IPN → Meta CAPI + GHL\n\n**3 valores a reemplazar antes de activar:**\n\n1. **GET Pago MP** → header `Authorization`: reemplazar `APP_USR-REEMPLAZAR...` con el Access Token de MercadoPago de Pumpalcerro (cuenta de Michi)\n\n2. **Meta CAPI — Purchase** → `access_token` en el body: reemplazar con el token de Meta Events Manager (Pixel → Configuración → Generar token)\n\n3. **GHL — Pago confirmado** → URL del nodo: reemplazar con el webhook URL del flujo GHL de confirmación de pago"
      },
      "id": "a1000000-0000-0000-0000-000000000000",
      "name": "Instrucciones",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mp-ipn-pumpalcerro",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "MP IPN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f01234567890"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "payment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "¿Es un pago?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.mercadopago.com/v1/payments/{{$json.body.data.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer APP_USR-REEMPLAZAR-CON-ACCESS-TOKEN-MP"
            }
          ]
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "GET Pago MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "¿Pago aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.all()[0].json;\n\nconst email = (p.payer && p.payer.email ? p.payer.email : '').toLowerCase().trim();\nconst phone = (p.payer && p.payer.phone && p.payer.phone.number ? String(p.payer.phone.number) : '').replace(/\\D/g, '');\n\nfunction sha256(msg) {\n  if (!msg) return '';\n  const K=[0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H=[0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const rr=(v,n)=>(v>>>n)|(v<<(32-n));\n  const b=[];\n  for(let i=0;i<msg.length;i++){const c=msg.charCodeAt(i);if(c<128)b.push(c);else if(c<2048)b.push((c>>6)|192,(c&63)|128);else b.push((c>>12)|224,((c>>6)&63)|128,(c&63)|128);}\n  const L=b.length;\n  b.push(0x80);\n  while(b.length%64!==56)b.push(0);\n  b.push(0,0,0,0,(L*8>>>24)&255,(L*8>>>16)&255,(L*8>>>8)&255,(L*8)&255);\n  for(let i=0;i<b.length;i+=64){\n    const W=new Array(64);\n    for(let j=0;j<16;j++)W[j]=(b[i+j*4]<<24)|(b[i+j*4+1]<<16)|(b[i+j*4+2]<<8)|b[i+j*4+3];\n    for(let j=16;j<64;j++){const s0=rr(W[j-15],7)^rr(W[j-15],18)^(W[j-15]>>>3);const s1=rr(W[j-2],17)^rr(W[j-2],19)^(W[j-2]>>>10);W[j]=(W[j-16]+s0+W[j-7]+s1)|0;}\n    let a=H[0],bb=H[1],c=H[2],d=H[3],e=H[4],f=H[5],g=H[6],h=H[7];\n    for(let j=0;j<64;j++){const S1=rr(e,6)^rr(e,11)^rr(e,25);const ch=(e&f)^(~e&g);const t1=(h+S1+ch+K[j]+W[j])|0;const S0=rr(a,2)^rr(a,13)^rr(a,22);const maj=(a&bb)^(a&c)^(bb&c);const t2=(S0+maj)|0;h=g;g=f;f=e;e=(d+t1)|0;d=c;c=bb;bb=a;a=(t1+t2)|0;}\n    H[0]=(H[0]+a)|0;H[1]=(H[1]+bb)|0;H[2]=(H[2]+c)|0;H[3]=(H[3]+d)|0;\n    H[4]=(H[4]+e)|0;H[5]=(H[5]+f)|0;H[6]=(H[6]+g)|0;H[7]=(H[7]+h)|0;\n  }\n  return H.map(v=>(v>>>0).toString(16).padStart(8,'0')).join('');\n}\n\nreturn [{ json: { ...p, em_hashed: sha256(email), ph_hashed: sha256(phone) } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Preparar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/1434008945435499/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: [{ event_name: 'Purchase', event_time: Math.floor(new Date().getTime() / 1000), action_source: 'website', event_source_url: 'https://elqui.pumpalcerro.com/gracias', user_data: { em: $json.em_hashed ? [$json.em_hashed] : [], ph: $json.ph_hashed ? [$json.ph_hashed] : [] }, custom_data: { currency: $json.currency_id || 'CLP', value: $json.transaction_amount || 0, content_ids: ['valle-elqui-2026'], content_type: 'product' } }], test_event_code: 'TEST13762', access_token: 'REEMPLAZAR-CON-META-CAPI-ACCESS-TOKEN' }) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Meta CAPI — Purchase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/UsfN3aEssI2BBNrqhBjq/webhook-trigger/QDnMxbBkJnFn4raVeBh9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: 'payment_confirmed', payment_id: $('Preparar payload').item.json.id || '', amount: $('Preparar payload').item.json.transaction_amount || 0, currency: $('Preparar payload').item.json.currency_id || 'CLP', payer_email: ($('Preparar payload').item.json.payer && $('Preparar payload').item.json.payer.email) ? $('Preparar payload').item.json.payer.email : '', payer_phone: ($('Preparar payload').item.json.payer && $('Preparar payload').item.json.payer.phone && $('Preparar payload').item.json.payer.phone.number) ? $('Preparar payload').item.json.payer.phone.number.toString() : '', external_reference: $('Preparar payload').item.json.external_reference || '', source: 'mercadopago', product: 'Valle del Elqui 2026' }) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "GHL — Pago confirmado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 140]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Ignorado — No es pago",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Ignorado — No aprobado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 340]
    }
  ],
  "pinData": {},
  "connections": {
    "MP IPN": {
      "main": [
        [{ "node": "¿Es un pago?", "type": "main", "index": 0 }]
      ]
    },
    "¿Es un pago?": {
      "main": [
        [{ "node": "GET Pago MP", "type": "main", "index": 0 }],
        [{ "node": "Ignorado — No es pago", "type": "main", "index": 0 }]
      ]
    },
    "GET Pago MP": {
      "main": [
        [{ "node": "¿Pago aprobado?", "type": "main", "index": 0 }]
      ]
    },
    "¿Pago aprobado?": {
      "main": [
        [{ "node": "Preparar payload", "type": "main", "index": 0 }],
        [{ "node": "Ignorado — No aprobado", "type": "main", "index": 0 }]
      ]
    },
    "Preparar payload": {
      "main": [
        [{ "node": "Meta CAPI — Purchase", "type": "main", "index": 0 }]
      ]
    },
    "Meta CAPI — Purchase": {
      "main": [
        [{ "node": "GHL — Pago confirmado", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "creactive-studio"
  },
  "id": "pumpalcerro-mp-ipn-001",
  "tags": [
    { "id": "tag-pumpalcerro", "name": "pumpalcerro" },
    { "id": "tag-meta-ads", "name": "meta-ads" }
  ]
}
